header.header {
  text-align: center ;
  padding: 25px 15px ;
}

header > h1 {
  font-weight: var(--light-font) ;
  font-size: 1.7rem ;
}

header > h1:last-of-type {
  font-weight: var(--bold-font) ;
}
header > p {
  color: var(--very-dark-blue) ;
  font-size:  0.78rem ;
  margin: 10px auto ;
  max-width: 600px ;
}


@media screen and (max-width: 400px) {
  header > h1 {
    font-size: 1.24rem ;
  }
  header > p {
    font-size: 0.65rem ;
  }
}